@import "./skip-link.css";
@import "./lazy-loading.css";
@import "./core-bundle.css";
@import "./announcements-bundle.css";
@import "./announcement-description.css";
@import "./delete-announcement-modal.css";
@import "./notification-system.css";
@import "./main.css";
@import "./purchase-success-modal.css";
@import "./cookie-consent.css";
@import "./high-contrast.css";
@import "./scanner-modal.css";
@import "./share-button.css";
@import "./loading-screen.css";

